.notificationBar {
  position: fixed;
  right: 506px;
  top: 20px;
  border-radius: 4px;
  background-color: #1f2937;
  box-shadow: 0px -4px #57b8ec;
  color: white;
  height: 80px;
}

.closeBtn {
  float: right;
  position: relative;
  margin: 0;
  padding-right: 0;
  font-size: 25px;
  color: white;
  cursor: pointer;
}

.text {
  padding: 2px 20px;
}

.text h3,
.text p {
  margin: 10px 0;
}
