.cardContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 40px auto;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 18px;
  background-color: #1f2937;
  margin: 10px 0;
  height: 150px;
  overflow: auto;
}

.buttons {
  display: flex;
  justify-content: right;
  gap: 6px;
}

.button {
  font-size: 25px;
  color: white;
  cursor: pointer;
}

.button:hover {
  transition: 0.3s ease-in all;
  color: #6584af;
}

.content {
  color: white;
  padding-left: 20px;
}

.content a {
  text-decoration: none;
  color: white;
}

.content a h2 {
  padding: 0 10px;
}

.content p {
  padding: 10px;
}

.content label {
  padding: 10px;
}

.modalContainer {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #34495e;
  height: 45vh;
  width: 80vh;
  border-radius: 8px;
  border: 1px solid darkgray;
  color: white;
}

.modalContainer form {
  text-align: center;
}

.modalContainer form input {
  width: 60%;
  height: 25px;
  border-radius: 10px;
}

.modalContainer form button {
  background-color: #6584af;
  width: 61%;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  height: 24px;
  color: rgb(253, 248, 248);
  font-weight: 800;
}

.editCloseBtn {
  font-size: 25px;
  float: right;
  position: relative;
  cursor: pointer;
}

.editCloseBtn:hover {
  transition: 0.4s ease-in all;
  color: #57b8ec;
}

.updateModal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background-color: #2c3f50;
  opacity: 0.9;
  display: grid;
  place-items: center;
}

.updateModal h1 {
  font-weight: bolder;
  color: white;
}
